.idea
.vs
.vscode
.mvn
.gradle

*.iws
*.iml
*.ipr
*.bak
*.log

target/

log.txt
logs/

banner.txt

git.properties

*-local.yaml
*-local.yml
*-local.xml

rebel.xml
rebel-remote.xml
.rebel.xml.bak
.rebel-remote.xml.bak
